<div class="container">
  <div class="row">
    <div class="col-6 mx-auto">

<%= flash[:notice] %>

<% if @post.errors.any? %>
  <%= @post.errors.count %>件のエラー
  <% @post.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<%= form_with model:@post, url: post_path(@post), method: :patch, local: true do |f| %>
<h1>ユーザ投稿データ編集</h1>
    <%= f.label :title, "タイトル" %></br>
    <%= f.text_field :title, class: "form-control" %></br>

    <%= f.label :theme_id, "都道府県テーマ" %></br>
    <%= f.collection_select :theme_id, @themes, :id, :name, { prompt: "--選択してください--" }, class: "form-control" %></br>

    <%= f.label :body_all, "5.7.5で表現" %></br>
    <%= f.text_field :first_body, class: "form-control my-2" %>
    <%= f.text_field :middle_body, class: "form-control my-2" %>
    <%= f.text_field :last_body, class: "form-control my-2" %></br>

    <%= f.label :url, "参考サイト" %></br>
    <%= f.text_field :url, class: "form-control" %></br>

    <%= f.submit "編集", class: "btn btn-success btn-block" %>

<%= link_to "戻る", post_path(@post), class: "btn btn-primary btn-block" %>
<% end %>

    </div>
  </div>
</div>