<div class="container">
  <div class="row">

  <% if @comment.errors.any? %>
    <%= @comment.errors.count %>件のエラー
      <% @comment.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
  <% end %>

<table class="table border" rules="cols">
  <thead>
    <tr><h1>ユーザ投稿詳細</h1></tr>
    <tr>
      <th>ユーザ名</th>
      <th>タイトル</th>
      <th>都道県テーマ</th>
      <th>川柳</th>
      <th>参考サイト</th>
      <th>いいね</th>
    </tr>
  </thead>

  <tbody>
  <tr>
    <td>
      <%= link_to "#{@post.user.name}", user_path(@post.user) %>
    </td>

    <td>
      <%= @post.title %>
    </td>

    <td>
      <%= link_to "#{@post.theme.name}", theme_path(@post.theme) %></br>
    </td>

    <td>
      「<%= @post.first_body%>　<%= @post.middle_body %>　<%= @post.last_body %>」</br>
    </td>

    <td>
      <% if @post.url.blank? %>
        詳細なし
      <% else %>
        <a href="<%= @post.url %>" target="_blank" rel="noopener noreferrer">詳細</a>
      <% end %>
    </td>

    <td>
      <% if @post.favorited_by?(current_user) %>
        <%= link_to post_favorites_path(@post), method: :delete do %>
          ♥<%= @post.favorites.count %> いいね
        <% end %>
      <% else %>
        <%= link_to post_favorites_path(@post), method: :post do %>
          ♡<%= @post.favorites.count %> いいね
        <% end %>
      <% end %>
    </td>
  </tr>

  </tbody>
</table>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-4">
      <%= form_with(model:[@post, @comment], url:post_comments_path(@post), method: :post, local: true) do |f| %>
        <%= f.text_area :comment, rows:'3', placeholder: "コメント", class: "form-control" %>
        <%= f.submit "送信する", class:"btn btn-primary btn-block my-3" %>
      <% end %>

<table class="table border" rules="cols">
  <thead>
    <tr><h1>コメント一覧</h1></tr>
    <tr>
      <th>ユーザ名</th>
      <th>コメント</th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |post_comment| %>
      <tr>
        <td>
          <%= link_to "#{post_comment.user.name}", user_path(post_comment.user) %>
        </td>

        <td>
          <%= post_comment.comment %>
        </td>

        <td>
          <% if post_comment.user == current_user %>
            <%= link_to "削除", post_comment_path(post_comment.post, post_comment), method: :delete, data: {confirm: "削除しますか？"} %></br>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

    </div>
  </div>
</div>