<h1>管理者投稿詳細</h1>

<table>
  <thead>
    <tr>
      <th>ユーザ名</th>
      <th>タイトル</th>
      <th>都道県テーマ</th>
      <th>川柳</th>
      <th>参考サイト</th>
      <th>いいね</th>
    </tr>
  </thead>

  <tbody>

  <tr>
    <td>
      <%= link_to "#{@post.user.name}", admin_user_path(@post.user) %>
    </td>

    <td>
      <%= @post.title %>
    </td>

    <td>
      <%= @post.theme.name %></br>
    </td>

    <td>
      「<%= @post.first_body%>　<%= @post.middle_body %>　<%= @post.last_body %>」</br>
    </td>

    <td>
      <%= Rinku.auto_link(@post.url, :all, 'target="_blank"').html_safe %>
    </td>

    <td>
        <% if @post.favorited_by?(current_user) %>
        <%= link_to post_favorites_path(@post), method: :delete do %>
          ♥<%= @post.favorites.count %> いいね
        <% end %>
      <% else %>
        <%= link_to post_favorites_path(@post), method: :post do %>
          ♡<%= @post.favorites.count %> いいね
        <% end %>
      <% end %>
    </td>

    <td>
    <%= link_to "投稿削除", admin_post_path(@post), method: :delete %>
    </td>
  </tr>

  </tbody>
</table>

<% @comments.each do |post_comment| %></br>
ユーザー名
<%= post_comment.user.name %></br>

<%= post_comment.comment %>

<%= link_to "削除", admin_post_comment_path(post_comment.post, post_comment), method: :delete %></br>
<% end %>