<div class="container">
  <div class="row">
<table class="table border" rules="cols">
  <thead>
    <tr><h1>投稿詳細</h1></tr>
    <tr>
      <th>ユーザ名</th>
      <th>タイトル</th>
      <th>都道県テーマ</th>
      <th>川柳</th>
      <th>参考サイト</th>
      <th>いいね</th>
    </tr>
  </thead>

  <tbody>

  <tr>
    <td>
      <%= link_to "#{@post.user.name}", admin_user_path(@post.user) %>
    </td>

    <td>
      <%= @post.title %>
    </td>

    <td>
      <%= @post.theme.name %></br>
    </td>

    <td>
      「<%= @post.first_body%>　<%= @post.middle_body %>　<%= @post.last_body %>」</br>
    </td>

    <td>
       <% if @post.url.blank? %>
        詳細なし
      <% else %>
        <a href="<%= @post.url %>" target="_blank" rel="noopener noreferrer">詳細</a>
      <% end %>
    </td>

    <td>
      <%= @post.favorites.count %>件
    </td>

    <td>
    <%= link_to "投稿削除", admin_post_path(@post), method: :delete %>
    </td>
  </tr>

  </tbody>
</table>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-4"><table class="table border" rules="cols">
 <thead>
   <tr><h1>コメント一覧</h1></tr>
    <tr>
      <th>ユーザ名</th>
      <th>コメント</th>
    </tr>
  </thead>

  <tbody>
<% @comments.each do |post_comment| %></br>
<tr>
  <td>
<%= post_comment.user.name %></br>
</td>
<td>
<%= post_comment.comment %>
</td>
<td>
<%= link_to "削除", admin_post_comment_path(post_comment.post, post_comment), method: :delete %></br>
</td>
</tr>
<% end %>


  </tbody>
</table>

    </div>
  </div>
</div>