<h1>ユーザ編集</h1>

<%= form_with model:@user, url: user_path(@user), method: :patch, local: true do |f| %>

<%= f.attachment_field :profile_image %></br>

<label>ユーザネーム</label></br>
<%= f.text_field :name %></br>

<label>メールアドレス</label></br>
<%= f.text_field :email %></br>

<label>自己紹介</label></br>
<%= f.text_area :introduction, rows:'5' %></br>

<label>退会ステータス</label></br>
<%= f.radio_button :is_active, true, id:"yes" %><label for="yes">有効</label>
<%= f.radio_button :is_active, false, id:"no" %><label for="no">退会</label>

<%= f.submit "更新" %>

<%= link_to "戻る", admin_user_path(@user) %>


<% end %>