<div class="container-fluid">
  <div class="row">
    <div class="col-2">


<% if @user == current_user %>
  <h1>マイページ</h1>
<% else %>
  <h1>ユーザ詳細</h1>
<% end %>

<table class="table border" rules="cols">

  <tr>
    <th>ユーザアイコン</th>
  </tr>

<tr>
<td><%= attachment_image_tag @user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg"%></td>
</tr>


  <tr>
    <th>ユーザネーム</th>
  </tr>

  <tr>
    <td><%= @user.name %></td>
  </tr>

  <tr>
    <th>自己紹介</th>
  </tr>

  <tr>
    <td><%= @user.introduction %></td>
  </tr>

</table>

<%= link_to "登録内容変更", edit_user_path(@user), class:"btn btn-primary btn-block" %>

<button type="button" class="btn btn-secondary btn-block my-3" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  いいねした投稿一覧
</button>
<div class="collapse" id="collapseExample">
    <div class="border p-3">
        <% @favorite_posts.each do |post| %>
          <%= link_to "#{post.title}", post_path(post), class: "d-flex flex-column my-2" %>
        <% end %>
    </div>
</div>

</div>

<div class="col-9">
<table class="table border" rules="cols">
  <thead>
    <tr><h1>ユーザ投稿一覧</h1></tr>
    <tr>
      <th>ユーザ名</th>
      <th>タイトル</th>
      <th>都道県テーマ</th>
      <th>川柳</th>
      <th>参考サイト</th>
      <th>いいね</th>
      <th>コメント</th>
    </tr>
  </thead>

  <tbody>

<% @posts.each do |post| %>
  <tr>
    <td>
      <%= post.user.name %>
    </td>

    <td>
      <%=link_to "#{post.title}", post_path(post) %>
    </td>

    <td>
      <%= post.theme.name %></br>
    </td>

    <td>
      「<%= post.first_body%>　<%= post.middle_body %>　<%= post.last_body %>」</br>
    </td>

    <td>
      <% if post.url.blank? %>
        詳細なし
      <% else %>
        <a href="<%= post.url %>" target="_blank" rel="noopener noreferrer">詳細</a>
      <% end %>
    </td>

    <td>
     <%= post.favorites.count %>件
    </td>

    <td>
      <%= link_to "#{post.comments.count}", post_path(post) %>件
    </td>

    <% if @user == current_user %>
      <td>
        <%= link_to "編集", edit_post_path(post) %>
      </td>

      <td>
        <%= link_to "削除", post_path(post) %>
      </td>
    <% end %>

  <% end %>
  </tr>

  </tbody>
</table>

    </div>
  </div>
</div>

