<!DOCTYPE html>
<html>
  <head>
    <title>PrefecturesSenryu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul>
        <li>
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>

          <%= link_to "テーマ一覧", admin_themes_path %>

        </li>
      </ul>
    </nav>

    <%= yield %>
  </body>
</html>
